.inverted-corner {
  width: var(--size);
  aspect-ratio: 1/1;
  background-image: radial-gradient(circle at 100% 100%, white var(--size), hsl(var(--secondary)) var(--size));
}

@media (max-width: 720px){

body .container {
  padding-left: 12px;
  padding-right: 12px;
}

}
